

body{
    background: url(./img/cajafuerte.jpg) no-repeat top center/cover;
    font-size: 30px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 150%;
    padding: 20px;
}


/*HEADER*/
header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.titulo{
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgb(243, 122, 142);
}

.logo{
    margin-left: 10px;
    width: 8%;
}


/*MAIN*/
.orden_section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.parte1, .parte2 {
    flex-grow: 1;
}

/*PARTE 1*/
.parte1{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 450px;
    margin-left: 30px;
}

#textoIngresado{
    border: none;
    color: rgb(241, 129, 241);
    margin-top: 40px;
    text-transform: lowercase;
    resize: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    width: 500px;
    height: 200px;
}

::placeholder{
    color: rgb(241, 129, 241);
}

#textoIngresado:focus{
    outline: none; /* focus ayuda a que ya no aparesca el recuadro al dar click en el lugar*/
}

.mensajeDeAdvertencia{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}

.mensajeDeAdvertencia img{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.botones{
    display: flex;
    gap: 15px;
    height: 50px;
    width: 500px;
    justify-content: space-around;
}

.encriptar{
    background-color: rgb(241, 129, 241);
    border: 2px solid rgb(241, 129, 241);
    border-radius: 10px;
    color: white;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

.desencriptar{
    background: #ffffff;
    border: 2px solid rgb(241, 129, 241);
    border-radius: 10px;
    color: rgb(241, 129, 241);
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

.encriptar:hover {
    transform: scale(1.2);
}

.desencriptar:hover {
    transform: scale(1.2);
}

/*PARTE 2*/
.textarea-container_parte2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

  .mensaje_parte2 {
    background: white;
    background-image: url(./img/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;
    width: 400px;
    border: none;
    border-radius: 20px;
    color: rgb(241, 129, 241);
    resize: none;
  }

  .mensaje_parte2:focus {
    outline: none;
  }

  .boton_parte2 {
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: center;
    margin: 10px;
  }

  .copiar {
    border: 2px solid rgb(241, 129, 241);
    border-radius: 10px;
    color: rgb(241, 129, 241);
    width: 200px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background: white;
  }
  .copiar:hover {
    transform: scale(1.2);
  }

/*PARA TABLET */
@media only screen and (max-width: 1114px){
    #contenedor_todo {
        flex-direction: column;
        align-items: center;
    }
}


/*PARA CELULAR */
@media only screen and (max-width: 600px) {

    body{
        background: url(./img/cajafuerte.jpg) no-repeat top cover;
        padding: 0px;
    }

    /*HEADER*/
    header{
        gap: 20px;
    }

    .logo{
        width: 100px;
    }

    /*PARTE 1*/
    .parte1{
        margin-left: 10px;
        width: 250px;
    }

    #textoIngresado{
        width: 230px;
    }

    .mensajeDeAdvertencia{
        font-weight: bold;
    }

    .botones{
        flex-direction: column;
        width: 240px;
        height: 200px;
        align-items: center;
    }

    .encriptar{
        height: 50px;
        width: 100%;
    }

    .desencriptar{
        height: 50px;
        width: 100%;
    }

    /*PARTE 2*/
    .textarea-container_parte2 {
        width: 300px;
    }

    .mensaje_parte2{
        width: 95%;
        border: 4px solid skyblue;
        height: 200px;
    }

}